
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

<form action="Add" method="post">
    Postcode: <input type="text" name="postCode" /><br />
    Bedrooms: <input type="number" name="bedrooms" /><br />
    Bathroom: <input type="number" name="bathrooms" /><br />
    Square Foot: <input type="number" name="squareFoot" /><br />
    <input type="submit" value="Submit" />
</form>

