<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Estates.Business.Properties.Settings.EstatesConnectionString"
            connectionString="Data Source=DESKTOP-GMDHMRP\SQLEXPRESS;Initial Catalog=Estates;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>